html {
    box-sizing: border-box;
    
    }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    font-size: inherit;
  }
  
  body {
    color: #000000;
    font-family: 'OpenSans-Bold', Helvetica, Arial;
    font-weight: 400;
    font-style: 17px;
    line-height: 30px;
    background-color: #f9f9f9;
  }
  
  .container {
    max-width: 320px;
    padding: 0 30px;
    margin: 0 auto;
    
    position: relative;
      }

      @media (min-width: 768px) {
        .container {
            max-width: 768px;
            padding: 0 50px;
              }
      }

      @media (min-width: 1250px) {
        .container {
            max-width: 1150px;             
            
              }
      }
