.header {
  z-index: 5; 
  min-height: 79px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  background-color: #fff;
}



@media (min-width: 768px) {
  .header {
    position: relative;
    border-top: none;
  }
}
