.header {
  z-index: 5;
  width: 100vw;
  min-height: 79px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .header {
    position: relative;
    border: none;
  }
}
