.intro {
  padding-top: 35px;
  background-image: url("../images/hero-mobile@1x.jpg");
  @supports (
      background: -webkit-image-set(url("../images/hero-mobile@1x.webp") 1x)
    ) {
      background-image: url("../images/hero-mobile@1x.webp");
    }
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    background-image: url("../images/hero-mobile@2x.jpg");
    @supports (
      background: -webkit-image-set(url("../images/hero-mobile@2x.webp") 2x)
    ) {
      background-image: url("../images/hero-mobile@2x.webp");
    }
    background-size: auto 75%;
  }
  &__heading {
    font-size: 27px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
    padding: 55px 8px 115px;
  }
  &__items {
    position: relative;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  }
  &__item {
    font-size: 19px;
    line-height: 24px;
    font-weight: 700;
    text-align: left;
    color: white;
    width: 100%;
    transition: transform 0.5s;
    &:hover {
      transform: translateY(-5px);
    }
  }
  &__item-left {
    background-color: #63d1bb;
  }
  &__item-right {
    background-color: #56c3b2;
  }
 
  &__link {
    fill: #35a999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 103px;
    width: 260px;
    margin: 0 auto;
    transition: transform 0.5s;
    &:hover {
      transform: translateY(-5px);
      fill: #29a592;
    }
    &:active {
      opacity: 0.2;
    }
  }
  &__link-text {
    width: 130px;
  }
  
}

@media (min-width: 768px) {
  .intro {
    background-image: url("../images/hero-desktop@1x.jpg");
    @supports (
      background: -webkit-image-set(url("../images/hero-desktop@1x.webp") 1x)
    ) {
      background-image: url("../images/hero-desktop@1x.webp");
    }
  
  @media (min-resolution: 1.5dppx), (min-resolution: 144dpi) {
    background-image: url("../images/hero-desktop@2x.jpg");
    @supports (
      background: -webkit-image-set(url("../images/hero-desktop@2x.webp") 2x)
    ) {
      background-image: url("../images/hero-desktop@2x.webp");
    }
    background-size: auto 102%;
  }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      z-index: 2;
      width: 100%;
      height: 20px;
      background-image: url(../images/bg-zigzag-fill.svg);
      background-repeat: repeat-x;
    }
    &__heading {
      font-size: 43px;
      line-height: 50px;
      width: 423px;
      padding: 110px 0 382px;
      margin: 0 auto;
      font-weight: 400;
    }
    &__items {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    &__item {
      padding: 0 37px 0 32px;
    }
  }
}

@media (min-width: 1250px) {
  .intro {
    &__heading {
      font-size: 53px;
      line-height: 57px;
      width: 630px;
      padding: 110px 0 370px;
      font-weight: 700;
    }

    &__item {
      padding: 0 37px 0 36px;
    }
  }
}
