.main-footer {
  background-color: #f1f1f1;

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
  &__logo {
    display: none;
  }
  &__social {
    font-size: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 60px 15px;
    position: relative;
    align-items: center;
    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #e1e1e1;
      bottom: 0;
      left: 0;
    }
  }
  &__social-link {
    &:hover {
      fill: #46c1ae;
    }
    &:active {
      fill: #bde3dd;
    }
  }
  &__copyright {
    margin: 0 auto;
    padding: 25px 0;
  }
  &__copyright-link {
    display: flex;
    align-items: center;
    &:hover {
      fill: #46c1ae;
    }
    &:active {
      fill: #bde3dd;
      color: #a8a8a8;
    }
  }
  &__icon-github {
    margin-left: 30px;
  }
  &__copyright-text {
    font-size: 19px;
    line-height: 18px;
    font-weight: 700;
  }
}

@media (min-width: 768px) {
  .main-footer {
    &__wrapper {
      padding: 50px 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    &__logo {
      display: block;
    }
    &__social {
      width: 145px;
      margin-left: 70px;
      padding: 0;
      &::after {
        content: "";
        display: none;
      }
    }
    &__link {
      &:hover {
        fill: #46c1ae;
      }
      &:active {
        fill: #bde3dd;
      }
    }

    &__copyright {
      margin: 0;
      padding: 0;
    }
  }
}
