.menu {
  z-index: 5;
  &__logo {
    padding: 22px 0;
    text-align: center;
    background-color: #fff;
  }
  &__logo-link {
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }
  }

  &__open {
    position: absolute;
    top: 28px;
    right: 30px;
    width: 22px;
    height: 22px;
    padding: 0;
    font-size: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
  }
  &--opened {
    width: 100%;
  }
 
   &__list,
   &__offer,
   &__user {
    display: none;
  }
  
  &--opened &__list,
  &--opened &__user {
    display: block;
  }

  &__offer,
  &__delivery {
    display: none;
  }

  &--opened &__open::before,
  &--opened &__open::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -2px;
    width: 27px;
    height: 2px;
    background-color: black;
    transform: rotate(45deg);
    transition: transform 0.2s;
  }
  &--opened &__open::after {
    transform: rotate(-45deg);
  }

  &--closed &__open::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 0px;
    width: 21px;
    height: 2px;
    background: black;
    box-shadow: 0 6px 0 0 black, 0 12px 0 0 black;
    transition: transform 0.2s;
  }

  &__item {
    position: relative;
    border-top: 1px solid #ececec;
    margin: 0 -30px;
  }

  
  &__search {
    position: relative;
  }
  &__search-icon {
    position: absolute;
    top: 32px;
    left: 32px;
    width: 18px;
    height: 18px;
    opacity: 0.2;
  }
  &__cart {
    position: relative;
  }

  &__icon-cart {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 21px;
    height: 18px;
    opacity: 0.2;
  }

  &__link {
    display: block;
    padding: 30px 0 30px 76px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
    background-color: white;
    &:hover {
      fill: #63d1bb;
      color: #666666;
    }
    &:active {
      color: #b2b2b2;
    }
  }
}

@media (min-width: 768px) {
  .menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item {
      margin: 0;
      border: none;
    }
    
    &__logo {
      display: flex;
      flex-grow: 1;
      justify-content: flex-start;
      align-items: center;
      padding: 0;
    }
    &__open {
      display: none;
    }
    &__list {
      display: flex;
      flex-shrink: 0;
      flex-wrap: wrap;
      order: 1;
      width: 384px;
      background-color: transparent;
      position: absolute;
      top: 89px;
      left: 0;

      min-height: 85px;
    }
    &__list-link {
      width: 167px;
      padding: 20px 0 10px;
      font-size: 15px;
      line-height: 24px;
      background-color: transparent;
    }
    &__list-link--catalog {
      width: 217px;
      padding-left: 50px;
    }
    &__offer {
      display: none;
    }
    &__user {
      display: flex;
    }
    &__search {
      position: relative;
      width: 82px;
      height: 88px;
      border-right: 1px solid #ececec;
      border-left: 1px solid #ececec;
    }
    &__search-icon {
      position: absolute;
      top: 36px;
      left: 33px;
      width: 19px;
      height: 18px;
    }
    &__search-link {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      padding: 0;
      font-size: 0;
    }

    &__cart {
      position: relative;
      width: 265px;
      padding-right: 0;
      padding-left: 0;
    }

    &__icon-cart {
      position: absolute;
      top: 35px;
      left: 31px;
      width: 21px;
      height: 18px;
    }

    &__cart-link {
      position: relative;
      display: block;
      padding: 32px 0 32px 82px;
      text-align: right;
      font-size: 17px;
      line-height: 24px;
    }
    &__delivery {
      display: block;
      order: 2;
      width: 384px;
      padding: 0px 0;
      position: absolute;
      top: 89px;
      right: 0;
      background-color: transparent;
      min-height: 85px;
    }
    &__delivery-link {
      background-color: transparent;
      font-size: 15px;
      line-height: 24px;
      font-weight: 400;
      font-family: "OpenSans-Regular", Helvetica, Arial;
      padding: 20px 0 10px 104px;
    }
  }
}

@media (min-width: 1250px) {
  .menu {
    &__list {
      background-color: #fff;
      order: -1;
      width: 450px;
      margin: 0;
      position: static;
    }
    &__list-link {
      background-color: #fff;
      font-size: 17px;
      width: 184px;
      padding: 32px 0;
    }
    &__list-link--catalog {
      border-right: 1px solid #ececec;
    }
    &__list-link--order {
      text-align: right;
    }
    &__offer {
      position: absolute;
      top: 89px;
      left: 50px;
      display: flex;
      order: 2;
      border-top: 1px solid #ececec;
      width: 660px;
    }
    &__offer-link {
      display: block;
      width: 184px;
      padding: 18px 0;
      background-color: transparent;
    }
    &__offer-link--sale {
      padding-left: 30px;
    }
    &__delivery {
      position: absolute;
      top: 89px;
      right: 50px;
    }
    &__delivery-link {
      text-align: right;
    }
  }
}
